@charset "UTF-8";
/*
Theme Name: nowyfakowy
Theme URI: https://wordpress.org/themes/twentynineteen/
Author: byczek Emil
Description: Our 2019 default theme is designed to show off the power of the block editor. It features custom styles for all the default blocks, and is built so that what you see in the editor looks like what you'll see on your website. Twenty Nineteen is designed to be adaptable to a wide range of websites, whether you’re running a photo blog, launching a new business, or supporting a non-profit. Featuring ample whitespace and modern sans-serif headlines paired with classic serif body text, it's built to be beautiful on all screen sizes.
Requires at least: 4.9.6
Requires PHP: 5.2.4
Version: 1.7
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: nowyfakowy	
Tags: szablonik, templacik
*/

#header {
  width: 100%;
  border-bottom: 1px solid black;
}

#header img{
  width: 100%;
}

#banner {
   position: relative;
}

#info {
  width: 1000px;
  margin: 0 auto;
  padding-left: 26px;
}

#info-container {
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#menu {
    width: 1000px;
    margin: 0 auto;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#menu li {
  float: left;
}

#menu li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#menu li a:hover {
	background-color: lightgrey;
}

#menu .sub-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#menu li:hover ul.sub-menu {
	display: block;
}

#menu li ul li:hover ul.sub-menu {
  display: block;
}

.sub-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.sub-menu a:hover {background-color: #f1f1f1;
}


#middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#middle_left {
    background-color: blue;
    width: 700px;
    height: 600px;
}

#middle_right {
    background-color: rgb(170, 94, 170);
    height: 600px;
    width: 300px;
}

.post {
    background-color: lightblue;
    width: 675px;
    height: 25%;
    margin: 0 auto;
}

#footer {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
}

#footer h3 {
    margin-top: 0;
}